<div class="container-fluid">
<div class="search">
<button class="btn btn-success"><a routerLink='/search-form' routerLinkActive='active'>Search an account</a></button>
</div>
<div *ngIf="user">
      <div class="row">
        <div class="col-md-3">

          <img src="{{user.avatar_url}}" class="img-circle" alt="">
          <ul class="list-group" id="email">
            <p class="names"><span class="glyphicon glyphicon-user"></span>  {{user.login}} <small>{{user.name}}</small></p>
            <li class="list-group-item" *ngIf="user.email" id="emailocation">Email-Address: <a href="{{user.email}}" target="_blank"> {{user.email}} </a></li>
            <li class="list-group-item" *ngIf="user.location" id="emailocation">Location: <b>{{user.location}}</b></li>
            <li class="list-group-item" *ngIf="user.created_at" id="emailocation">Account created on: <b>{{user.created_at | date}}</b></li>
          </ul>
        
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-sm-5" id="repos-part">
          <div>
            <p>
              <span class="label label-info" id="labels">{{user.followers}} Followers</span>
              &nbsp;
              <span class="label label-warning" id="labels">{{user.following}} Following</span>
              &nbsp;
              <span class="label label-danger" id="labels">{{user.public_repos}} Repositories</span>
              &nbsp;

            </p>
            <br>
            <p><a href="{{user.html_url}}" target="_blank" class="btn btn-success btn-sm" id="view"> View profile on Github &nbsp; <span class="glyphicon glyphicon-share-alt"></span></a></p>

            <app-repos></app-repos>
          </div>
        </div>
      </div>
  </div>
</div>
