<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

      <a class="navbar-brand" href="#">Github Search</a><br>


    <!-- Collect the nav links, forms, and other content for toggling -->
      <li><a routerLink='/search-form' routerLinkActive='active'>Search</a></li>
       <li><a routerLink='/my-profile' routerLinkActive='active'>My profile</a></li><br>

  </div>
</nav>

<router-outlet></router-outlet>
